[project]
ref = "your-project-ref"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[auth]
enabled = true
port = 54322
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://localhost:3000"]
jwt_expiry = 3600
enable_signup = true
enable_confirmations = false

[functions.send-deactivation-emails]
verify_jwt = false

[functions.stripe-webhook]
verify_jwt = false

[functions.geocode-cross-streets]
verify_jwt = false